<div class="center">

  <div class="inner">
    <h1><%= @question %></h1>
    <p>- You</p>
  </div>

<div class="inner">
  <h1><%= @answer %></h1>
  <p>- Your coach</p>  
</div>

  <%= link_to "Ask a New Question", root_path %>
</div>
