// Place all the styles related to the Coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
justify-content: center
}

.inner {
  border-left: 7px solid rgb(241, 241, 241);
  padding: 5px;
  margin: 10px;
}
